<% if notice %>
<p id="notice">
  <%= notice %>
</p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= link_to image_tag(product.image_url), '#' %>
        <h3><%= link_to product.title, product %></h3>
        <%= sanitize(product.description) %>
        <div class="price-line">
          <span class="price"><%= currency_to_locale(product.price) %></span>
          <%= button_to t('.add_html'), line_items_path(product_id: product, locale: I18n.locale), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
